<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@db.sansor.com:1521:orcl</property>
		<property name="hibernate.connection.username">WEB</property>
		<property name="hibernate.default_schema">WEB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<mapping resource="com/media/entities/dictionary.hbm.xml" />
		<mapping resource="com/media/entities/dictionaryitem.hbm.xml" />
	</session-factory>
</hibernate-configuration>
